@import '@styles/variables.scss';

.main {
    position: fixed;
    z-index: 100;
    left: 20px;
    right: 20px;
    top: 20px;

    @media (min-width: $tablet-width) {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
	}
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

	@media (min-width: $tablet-width) {
        display: block;
        z-index: 100;
        position: fixed;
		left: 40px;
        top: 50px;
	}

	@media (min-width: $desktop-width) {
		left: 60px;
	}
}

.logo_wrapper {
    width: 95px;
    height: 25px;

    @media (min-width: $tablet-width) {
        width: 112px;
        height: 48px;
        margin-bottom: 26px;
    }
}

.burger {
    @media (min-width: $tablet-width) {
        display: none;
    }
}

.nav {
    display: none;

    @media (min-width: $tablet-width) {
        display: block;
    }
}