$default-font: "RobotoCondensed", serif;
$special-font: "Abril Fatface", serif;
$extra-font: "PT Mono", sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;

$background: #ffffff;

$base-white: #ffffff;
$base-black: #181a2b;

$secondary-grey: #d3d3d6;